body{
	padding: 1em;
	background-color: #b8b894;
}
#page{

	margin: 0px 30px 0px 30px;
	background-color: #999;
}
header{
	text-align: center;
	padding: 1em;
	margin: 0px;
	background-color: #000;
	color: white;
}
footer{
	text-align: center;
	padding: 1em;
	background: dotted blue;
	color: white;
	font-size: 8px;
}
#menu{
	height: 42px; 
	background-color: gray;
	margin: 0px;
}
#menu ul{
	list-style-type: none;
	margin: 0px;
	padding-right: 40px;
}
#menu ul li{
	display: inline;
}
#menu ul li a{
	float: left;
	text-decoration: none;
	color: white;
	padding: 10px 40px;
}
#menu ul li a:hover,#menu ul li a.active{
	background-color: white;
	color: cornflowerblue;
	border-radius: 5px;
}

#content{
	padding: 0px,20px;
	background-color: white; 
	height: 1040px;
}
#content_left{
	float: left;
	width: 188px;
	padding: 10px;
	background-color:#00004d ;
	border: 1px solid #212120;
	margin: 10px;
	height: 1000px;
}
.content_left_selection{
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	border-bottom: 1px solid lightgreen;
	margin-bottom: 20px;

}
.content_left_selection h1{
	color: gray;
	font-size: 20px;
	padding-left: 5px;
	padding-top: 1em;
	padding-bottom: 5px;
	margin-bottom: 5px;
	border-bottom: 1px solid lightgreen; 
}
.content_left_selection ul{
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}
.content_left_selection ul li{
	padding-bottom: 3px;
	padding-left: 14px; 
}
.content_left_selection ul li a{
	text-decoration: none;
	color: green;
	font-size: 14px;
}
.content_left_selection ul li a:hover{
	color: yellow;
}


#conent_right{
	width: 670px;

}
#about{
	text-decoration:none;
	border:1px solid yellow;
}
#about h2{
	margin: 0px;
	padding: 30px;
}
#about p{
	margin: 0px;
	padding: 30px;
}
form{
	padding: 20px;
	margin: 0px;
}
fieldset{
	margin: 10px 0px 0px 10px;
	background-color:  #d8fe9e;
	align-content: center;
}


h2{
	margin: 0px;
	padding: 10px;
}
.error {
	width: 300px; 
	margin: 0px 10px 0px 240px; 
	padding: 10px; 
	border: 1px solid #a94442; 
	color: #a94442; 
	background: #f2dede; 
	border-radius: 5px; 
	text-align: left;
	
}
input[type=text],input[type=file],input[type=email],input[type=password]{
	width:200px;
	margin: 2px 2px 2px 2px;
	padding: 2px 2px 2px 5px;
	
}
button{
	margin: 5px 20px 10px 400px;
	padding: 10px;
	
}
label{
	display: inline-block;
	width: 150px;
	margin: 2px 2px 2px 2px;
	padding: 2px 2px 2px 5px;
}
